* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(25deg, #363738, #0072ff);
}

#calculator {
  background-color: #1e1e2f;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #2e2e3f;
  color: #fff;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #3e3e55;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
  background-color: #5c5cbf;
}

.button:active {
  transform: scale(0.95);
}
